@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.25em;
}

.btn {
  @apply rounded-none;
}

.dropdown-content li a {
  @apply rounded-none;
}

html, body {
  user-select: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.playing {
  position: relative;
}

.playing:after {
  content: '▶️';
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: black;
}
